.body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  height: 100vh;
  z-index: 9999;
  position: relative;
  top: 0;
}
.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  overflow: hidden;
  width: 100%;
  position: absolute;
}
.fof-images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fof-images .fof-image1 {
  width: 475px;
}
.fof-image2 {
  width: 175px;
}
h1 {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
.notFoundContainer p {
  text-align: center;
  color: #b3b3b3;
}
.home-btn {
  margin-top: 10px !important;
  display: flex;
  padding: 15px 55px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  border: none;
  width: fit-content;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  opacity: 1;
  background: linear-gradient(to top, #e72065, #fb72a3);
  box-shadow: 0px 17px 33px -7px rgba(251, 114, 162, 0.64);
}
.home-btn:focus {
  outline: none;
  opacity: 0.8;
}
i {
  padding: 3px;
}
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
}
.swing img {
  display: block;
}
@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
